<div class='some-page-wrapper'>
  <div class='row'>
    <div class='column'>
      <mat-card *ngFor="let point of dropOffPoints | slice : 0: 7">
        <mat-card-header>
          <mat-card-title>
            {{ point.location_name }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="showOnMap(point)">Show</button>
          <button mat-button (click)="choosePoint(point)">Choose this point</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class='column'>
      <app-map [lng]="mapLongitude" [lat]="mapLatitude"></app-map>
    </div>
  </div>
</div>
